/*Here is Header and Footer css: */
a{
	text-decoration: none;
}
p{
	font-family: 'Playfair Display', serif;
}
#header{
	background-image: url(images/jpgs/medical_back_1.jpg);
	height: 240px;
	padding-bottom: 10px;
	border-radius: 0 0 30px 30px;
}
.header_img_logo{
	float: left;
	padding-top: 25px;
}
.header_text_logo{
	padding-top: 5px;
	color: #08cc1f;
	font-size: 28px;
	float: left;
	padding-left: 17px;
	padding-right: 250px;
}
.offcanvas-body{
	height: 800px;
}
.header_text_top{
	font-family: normal;
	font-size: 16px;
}
.header_text_top a{
	padding-right: 25px;
	padding-left: 20px;
	text-decoration: none;
}
.header_text_top a:hover{
	color: red;
}
.header_text_top button{
	border: none;
	background-color: white;
	text-decoration: none;
	color: RoyalBlue;
}
.header_text_top button:hover{
	background-color: RoyalBlue;
	color: white;
}
.nav-item{
	padding-right: 20px;
	font-size: 25px;
}
.nav-link:hover{
	text-decoration: underline;
}
#footer{
	padding-top: 50px;
}
#footer_1{
	border-radius: 20px 20px 0 0;
	background-color: #E9E9E9;
}
.footer_texts_1{
	font-size: 20px;
}
.footer_texts_1 p{
	font-family: normal;
}
.footer_texts_1 a{
	text-decoration: none;
}
.footer_texts_2{
	font-size: 20px;
}
.footer_texts_2 p{
	padding-left: 10px;
}
.socnet{
	font-size: 25px;
	padding-right: 10px;
	color: #353535;
}

/*Here is paragraph_1 css: */
#paragraph_1{
	background-image: url(images/jpgs/main_1.jpg);
	background-size: cover;
	height: 750px;
}
.container p{
	padding-top: 40px;
	text-align: center;
	width: 500px;
	text-transform: uppercase;
}
.paragraphs_more{
	padding-bottom: 50px;
}

/*Here is paragraph_3 css: */
#paragraph_3{
	padding-top: 30px;
}
#paragraph_3_abouts{
	padding-top: 100px;
	padding-bottom: 80px;
}
.paragraph_3_image{
	border-radius: 10px;
	box-shadow: 0px 0px 30px 2px #000;
}
.paragraph_3_text{
	 width: 370px; 
	 font-size: 15px; 
	 padding-top: 30px;
}
h4 a{
	text-decoration: none;
}
h4 a:hover{
	color: red;
	text-decoration: none;
}